*{
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  box-sizing: border-box;
  
}
a{
  text-decoration: none;
  color: rgb(22, 16, 16);
}
img{
  cursor: pointer;
}
                                         /* items alignment */
.flex-div{
  display: flex;
  align-items: center;
}
                                       /* NAV top style */
nav{
  padding: 9px 2%;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(37, 31, 31, 0.932);
  background-color: rgba(226, 219, 219, 0.605);
  position:sticky;
  top: 0;
  z-index: 10;
}
body{
  background-color: rgb(208, 175, 175);
}
                                        /* NAV ON THE RIGHT SIZE */
.nav-right img{
  width: 24px;
  margin-right: 10px;
}
                                             /* UserIcon */
.nav-right .user-icon{ 
  border-radius: 50%;
  width: 40px;
  margin-right: 0;
}
                                    /* NAV LEFT menu and icon */
.nav-left .menu-icon{
  width: 24px;
  margin-right: 15px;
}
  .nav-left .logo{
  width: 130px;
}
                                            /* Middle search */
.nav-middle .mic-icon{
  width: 16px;
}
.nav-middle .search-box{
  border: 1px solid rgb(186, 173, 173);
  margin-right: 20px;
  padding: 5px 12px ;
  border-radius: 30px;
  color: rgba(128, 58, 58, 0.639);
  padding-left: 20px;
}
                                 /*      Search bar input style     */
.nav-middle .search-box input{
  width: 400px;
  border: 0;
  outline: 0;
  background-color: transparent;
}
.nav-middle .search-box img{
  width: 30px;
  margin: 4px;
}
.nav-middle .search-box img:hover{
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

                                           /*     SIDEBAR     */
.sidebar{
  background-color: rgba(226, 219, 219, 0.741);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 13%;
  padding-top: 90px;
  padding-left: 2%;
  transition:2s
}
                                                /*Image Size  */
.shortcut-links a img{
  width: 25px;
  margin-right: 18px;
}
.shortcut-links a{
  display: flex;
  margin-bottom:1px;
  width: fit-content;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px ;
  
  
}
.shortcut-links a:first-child{
  color: rgb(187, 94, 94);

}
.sidebar a:hover {
  border-radius: 3px;
  width: 100%;
  padding-left: 0;
  transition: 1s;
}
.sidebar a:link{
  transition:1s;
}
                                /*  HR EDIT */ */
.sidebar hr{
  border: 0;
  height: 1px;
  background-color: rgb(191, 150, 150);
  width: 80%;
}
.subscribed-list h3{
  font-size: 13px;
  margin:25px 0;
  color: #5a5a5a;
}
.subscribed-list a{
  display: flex;
  align-items: center;
  margin-bottom:10px;
  width:fit-content;
  flex-wrap: wrap;
  padding:10px ;

}
.subscribed-list a img{
  width: 25px;
  border-radius: 50%;
  margin-right: 20px;
}
.shortcut-links a p{
  transition: 4s;
}
                           /*  HIDE SIDEBAR */
.small-sidebar{
  width: 6%;
  transition: 1.5s;
}
.small-sidebar a p{
  display: none;
  transition: 3s; 
}
.small-sidebar h3{
  display: none;
}
.small-sidebar hr{
  width: 50%;
  margin-bottom: 25px ;
}
.small-sidebar a {
  margin-bottom:15px;
  transition: 2s;
}

                              /* MAIN */
.container{
  padding-right:2%;
  padding-top: 20px;
  padding-left: 15%;
  padding-bottom: 20px;
  transition: 2s;
}
                            /*    Main container move       */
.large-container{
  padding-left: 7%;
  transition: 2s;
}
.banner{
  width: 100%;
}
.banner img{
  width: 100%;
  border-radius: 8px;

}

.list-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px,1fr));
  grid-column-gap:30px;
  grid-row-gap: 30px;
  margin-top:15px;
  transition: 2s;
}
.vid-list .thumbnail{
  width: 100%;
  border-radius: 5px;
}
.vid-list .flex-div{
  align-items: flex-start;
  margin-top: 7px;
}
/*  menu video pic */
.vid-list .flex-div img{
  width: 35px;
  margin-right: 10px;
  border-radius: 50%;
}
.vid-info{
  color: #4c4b4b;
  font-size: 15px;
  }
.vid-info a{
  color: #000;
  display: block;
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}

@media (max-width:900px){


  .container{
    padding-left: 15%;
    padding-right: 2%;
  }
  
  .nav-right .user-icon{
    display: block;
    width: 30px;
  }
  .nav-middle .search-box input{
    width: 100px;
  }
  .nav-middle .mic-icon{
    display: none;
  }
  .logo{
    width: 90px;

  }
  .small-sidebar{
    width: 13%;
  }
  .small-sidebar hr{
    width: 80%;
  }
  .shortcut-links a p {
    display: none;
  }
  .subscribed-list a p {
    font-size: 11px;
  }
  .subscribed-list h3{
    font-size: 11px;
  }
  .subscribed-list a img{
    margin-right: 50px;
    margin-bottom: 5px;
  }
  .small-sidebar{
    display: none;
  }
  .large-container{
    padding-left: 3%;
    transition: 2s;
    }
}

/* Second page for play video */
.play-container .container{
  padding-left: 2%;
}
.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.play-video{
  flex-basis: 69%;
}
.right-sidebar{
  flex-basis: 30%;
}
.play-video video{
  width: 100%;
}
.side-video-list{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.side-video-list img{
  width: 100%;
}
.side-video-list .small-thumbnail{
  flex-basis: 49%;

}
.side-video-list .vid-info{
  flex-basis: 49%;
}
.play-video .tag a{
  font-size: 13px;
  color: #5a60b6;
  margin-right: 3px;
}
.play-video h3{
  font-weight:600 ;
  font-size: 22px;
}
.play-video .play-video-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 15px;
  font-size: 14px;
}
.play-video .play-video-info a img{
  width: 20px;
  margin-right: 8px;
}
.play-video .play-video-info a{
  display: inline-flex;
  align-items: center;
  margin-left: 15px;
}
.play-video hr{
  border:0;
  height: 1px;
  background: rgba(142, 121, 121, 0.483);
  margin: 10px 10px;
}
.publisher{
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.publisher div{
  flex: 1;
  line-height: 18px;
}
.publisher img{
  width:50px;
  border-radius: 50px;
  margin-right: 10px
}
.publisher div p {
  color: #000;
  font-weight: 600;
  font-size: 15px;
}
.publisher div span{
  font-size: 13px;
  color: #5a5a5a;
}
.publisher button{
  background :rgba(189, 106, 106, 0.741);
  color: rgb(120, 71, 71);
  padding: 8px 30px;
  border: 0;
  outline: 0px;
  border-radius: 9px;
  cursor: pointer;
  font-size: 20px;
}
.vid-discription{
  padding-left: 55px;
  margin: 13px 0;
}
.vid-discription p {
  font-size: 14px;
  margin-bottom: 11px;
  color: #484444;
}
.vid-discription h4{
  font-size: 14px;
  margin-top: 10px;
  font-weight: 500;
}
.add-comment{
  display: flex;
  align-items: center;
  margin: 30px 0;
}
.add-comment img{
  width: 20px;
  border-radius: 50px;
  margin-right: 15px;
}
.add-comment input{
  border:0;
  outline: 0;
  border-bottom: 1px solid rgb(74, 69, 69);
  padding-top: 15px;
  background: transparent;
  width: 90%;

}
.add-comment input:hover{
  transition: 2s;
}
.old-comment{
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.old-comment img{
  margin-right: 15px;
  border-radius: 50px;
  width: 15px;
}
.old-comment h3{
  font-size: 15px;
  margin-bottom: 2px;
}
.old-comment h3 span{
  font-size: 12px;
  color: rgb(74, 77, 79);
  font-weight: 500;
  margin-left: 10px;
}
.old-comment .acomment-action{
  display: flex;
  align-items: center;
  margin: 8px 0;
  font-size: 14px;
}
.old-comment .acomment-action img{
  border-radius: 0;
  width: 20px;
  margin-right: 5px;

}
.old-comment .acomment-action span{
  margin-right: 20px;
  color: #5a5a5a;
}
.old-comment .acomment-action a{
  color: rgb(58, 58, 115);
}